<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

 <servlet>
   <servlet-name>HelloWorldServlet</servlet-name>
   <servlet-class>pack.HelloServlet</servlet-class>
 </servlet>

 <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>pack.SessionServlet</servlet-class>
 </servlet>

 <servlet>
   <servlet-name>EchoServletExample</servlet-name>
   <servlet-class>pack.EchoServlet</servlet-class>
 </servlet>

 <servlet-mapping>
   <servlet-name>HelloWorldServlet</servlet-name>
   <url-pattern>/sayhello</url-pattern>
 </servlet-mapping>

 <servlet-mapping>
   <servlet-name>EchoServletExample</servlet-name>
   <url-pattern>/echo</url-pattern>
 </servlet-mapping>

 <servlet-mapping>
   <servlet-name>Session</servlet-name>
   <url-pattern>/sessiontest</url-pattern>
 </servlet-mapping>
</web-app>
